.biru {
    color: #D57A41;
}

.bold {
    font-weight: bolder;
}

.navbar {
    background-color: #FCD965!important;
}

.navbar .brand{
    font-family: righteous;
}

.btn{
    border-radius: 30px;
}

.btn1{
    background-color: #FCD965;
    border-radius: 30px;
}
body {
    background-color: #D57A41;
    font-family: p400;
    font-size: 14px;
}

body.account{
    color: white;
    font-family: p400;
}

.block-acc{
    text-align: center;
    margin: 100px;
    width: 70%;
    border-radius: 50px;
    background-color: #FCD965;
    padding: 80px 100px 80px 100px;
}

.block-center{
    text-align: -webkit-center;
}

.img-acc{
    width: 25%;
}

.input{
    background-color: white;
    border-radius: 20px;
    height: 40px;
    margin-top: 20px;
    text-align: left;
    padding: 5px 20px 5px 20px;
}

.input input{
    border: none;
    outline: none;
    width: 100%;
}

footer{
    padding: 20px;
    margin-top: 80px;
    background-color: #FCD965;
    text-align: center;
    color: black;
}

.hero {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero .col-md-6 {
    padding: 100px;
}

.hero .txt h1 {
    font-size: 50px;
}

.hero .btn {
    width: 129px;
    color: white;
}

.menu .block-hr {
    background-color: #FCD965;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: righteous;
    margin-bottom: 50px;
}

.menu .col-md-12{
    margin-top: 30px;
}

.menu .star {
    width: 15px;
}

.menu .card {
    border-radius: 30px;
}

.menu a{
    text-decoration: none!important;

}

.menu .card-title, .menu .card-text {
    color: black;
    font-style: normal;
}

.menu .card img {
    border-radius: 30px;
}

.toko .cover {
    width: 100%;
    height: 330px;
}

.toko .block-menu {
    background: white;
    padding: 20px;
    border-radius: 30px;
}

.toko .block-menu h4 {
    font-family: righteous;
}

.toko .block-menu .ic-menu {
    width: 100%;
    border-radius: 30px;
}

.toko .block-menu .btn {
    background: #FCD965;
    border-radius: 10px;
}

.toko .block-menu .btn img {
    width: 100%;
}

.toko .block-menu .col-md-8 {
    text-align: right;
    align-self: center;
}

.toko .col-md-3.col-md-8 input {
    border: none;
    width: 50px;
}

.toko .col-md-3 .col-md-8 {
    text-align: right;
    align-self: center;
}

.groom{
    text-align: left;
    font-size:xx-small;
}

.grooming{
    text-align: left;
}

.block-white {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 40px;
}

.keranjang .block-white img {
    width: 100%;
    border-radius: 30px;
}

.kanan {
    text-align: right;
}

.btn-checkout {
    background-color: #FCD965;
    color: white;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
}

.checkout .alamat p{
    margin-bottom: 0rem!important;
}

.checkout input {
    width: 100%;
    border: none;
    text-align: right;
    outline-width: 0;
}

.checkout .pilihan {
    outline-width: 0!important;
    border: none;
}

.checkout .for-btn {
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: right;
    width: 330px;
}
.kanan-web {
    text-align: -webkit-right;
}

.checkout .for-btn p{
    margin-bottom: 0rem!important;
}

.total {
    color : #D57A41;
    text-align : center;
}

.btn-checkout {
    background-color: #D57A41;
    color: black;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
}

.total {
    text-align: right;
    color : #D57A41;
}

.btn-co {
    background-color: #FCD965;
    color: black;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
}
.btn-checkout::hover {
}

